@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #6495ed;
    font: normal 1em system-ui, 'Segoe UI', sans-serif;
    width: 100vw;
    height: 100vh;
}

header {
    text-align: center;
    color: white;
    padding: 20px 0px;
}

section {
    background-color: white;
    width: 300px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.303);
}

div p {
    margin-bottom: 15px;
}

div input#botao {
    background-color: #6495ed;
    color: white;
    display: block;
    padding: 5px;
    margin: 15px auto;
    border-radius: 4px;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.415);
    cursor: pointer;    
}

div input#botao:active {
    transform: translate(3px, 3px);
    box-shadow: none;
}

div select {
    background-color: #6495ed;
    color: white;
    border-color: #6495ed;
    border-radius: 5px;
    padding: 5px;
}

footer {
    text-align: center;
    color: white;
    padding: 20px 0px;
}